<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> About Page </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css" />

</head>
<body>
    <div class="main-content">
        {{> _header}}
        <p>This site was created by Yasar Arafat. It uses data from mapbox.com and darksky.net! </p>
        <img class="profile-pic" src="/img/me.jpg" />
    </div>
    {{> _footer}}
</body>
</html>